.catalog-extra__title {
  position: relative;
  font-size: 24px;
  line-height: 24px;
  padding: 24px 0 36px 0;
  border-top: 1px solid #ebebeb;
  text-align: left;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 65px 36px 80px;
    border-top: none;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin-bottom: 81px;
  }
}

.catalog-extra__name {
  font-size: 16px;
  line-height: 16px;
}

.catalog-extra__description {
  line-height: 14px;
  margin-top: 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    margin-top: 4px;
    margin-bottom: 27px;
  }

  @media (min-width: @desktop-width) {
    align-items: center;
    margin: 0;
  }
}

.catalog-extra__description span:last-child {
  @media (min-width: @tablet-width) {
    margin-left: 49px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}

.catalog-extra__description span:first-child {
  @media (min-width: @desktop-width) {
    width: 240px;
  }
}

.catalog-extra__list {
  .zeroing-the-list();

  @media (min-width: @desktop-width) {
    width: 896px;
  }
}

.catalog-extra__button {
  display: block;
  width: 100%;
  padding: 10px 109px;
  cursor: pointer;

  @media (min-width: @desktop-width) {
    max-width: 244px;
  }

  @media (min-width: @desktop-width) {
    padding: 7px 26px;
    margin-left: auto;
  }
}

.catalog-extra__item {
  padding-top: 10px;
  padding-bottom: 19px;
  border-top: 1px solid #cdcdcd;

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 26px 38px 28px;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    flex-wrap: nowrap;
    justify-content: left;
    padding: 18px 0 19px;
  }
}

.catalog-extra__item-title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  width: auto;

  @media (min-width: @tablet-width) {
    display: block;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    align-self: center;
    text-align: left;
    width: 325px;
    margin: 0 auto;
  }
}

.catalog-extra__present {
  position: relative;
  background-image: url("../img/present.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: @basic-green;
  width: 100%;
  margin-top: 37px;
  height: 290px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/present@2x.jpg");
  }

  &::after {
    position: absolute;
    content: "";
    width: 78px;
    height: 80px;
    background-image: url("../img/sprite.svg#icon-gift");
    top: 59px;
    left: 101px;

    @media (min-width: @tablet-width) {
      left: 77px;
      top: 57px;
    }
  }

  @media (min-width: @tablet-width) {
    height: 200px;
    background-image: url("../img/present-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/present-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    height: 289px;
    width: 245px;
    margin-top: auto;
    background-image: url("../img/present.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/present@2x.jpg");
    }
  }
}

.catalog-extra__present-title {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @basic-white;

  margin-left: 56px;
  width: 161px;
  text-align: center;
  padding-top: 187px;

  @media (min-width: @tablet-width) {
    padding-top: 71px;
    padding-bottom: 69px;
    margin-left: 422px;
    margin-top: 69px;
    margin-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 115px;
    margin-left: 41px;
  }
}

.catalog-extra__main-part {
  @media (min-width: @desktop-width) {
    width: 70%;
  }
}

.wrapper--catalog-extra {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-top: 76px;
    margin-bottom: 86px;
  }
}
