.main-header {
  padding-top: 10px;
  padding-bottom: 17px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.main-header--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    align-items: flex-start;
    max-height: 52px;
  }
}

.main-header__logo {
  display: flex;
  min-width: 190px;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    min-width: 174px;
    justify-content: flex-start;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-header--wrapper,
.main-nav--nojs .main-header--wrapper a {
  display: block;
}

.main-nav--nojs .main-header__logo--mod-nojs {
  margin-left: 57px;
  margin-bottom: 7px;
}

.main-header__logo--mod-nojs {
  @media (min-width: @tablet-width) {
    padding-left: 12px;
  }
}

