.catalog__title {
  font-size: 36px;
  line-height: 36px;
}

.catalog__list,
.catalog__item-list {
  .zeroing-the-list();
}

.catalog__item-title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}

.catalog__item-line {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.catalog__item-title--mode {
  color: #111111;
}

.catalog__item-description {
  font-size: 12px;
  line-height: 16px;
}

.button--more {
  background-color: #f2f2f2;
  color: #444444;
}
