.main-nav__list {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  list-style-type: none;
  text-transform: uppercase;
  font-family: "Oswald";
  font-style: normal;
}

.main-nav__item a {
  color: #000000;
}
