.main-header {
  position: relative;
  padding-top: 10px;
  padding-bottom: 14px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
  }
}

.wrapper--main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    align-items: flex-start;
    max-height: 52px;
  }

  @media (min-width: @desktop-width) {
    max-height: 100%;
  }
}

.main-header__logo {
  display: flex;
  min-width: 190px;
  justify-content: space-between;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    min-width: 174px;
    justify-content: flex-start;
  }

  @media (min-width: @desktop-width) {
    padding-top: 50px;
  }
}

.main-header--nav-nojs .main-nav__toggle {
  display: none;
}

.main-header--nav-nojs .wrapper--main-header {
  display: block;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.main-header--nav-nojs .wrapper--main-header a {
  display: block;
}

.main-header--nav-nojs .main-header__logo-img {
  margin-left: 57px;
  margin-bottom: 7px;
}

.main-header__logo-img {
  @media (min-width: @tablet-width) {
    display: none;
  }
}
