.map iframe {
  display: block;

  @media (min-width: @mobile-width) {
    min-height: 362px;
  }

  @media (min-width: @tablet-width) {
    min-height: 400px;
  }
}

.map {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/map-pin.png");
    left: 43%;
    top: 52%;
    width: 57px;
    height: 53px;

    @media (min-width: @tablet-width) {
      background-image: url("../img/map-pin-tablet.png");
      width: 113px;
      height: 106px;
      left: 46%;
    }

    @media (min-width: @desktop-width) {
      top: 27%;
    }
  }
}

.map-g {
  width: 100%;
}
