.principle-work .title--main {
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 72px;
  }
}

.principle-work__list {
  .zeroing-the-list();

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 110px 60px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 40px 84px;
  }
}

.principle-work__item {
  position: relative;
  min-height: 60px;
  margin: 0;
  padding-left: 80px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    padding-left: 0;
  }

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-color: @basic-green;
    left: 0;

    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    align-self: center;
    top: 0;
    left: 17px;
    right: 0;
    bottom: 0;
    margin: auto 0;

    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
      left: 27px;
      top: -100px;
    }
  }

  &--icon-leaf {
    &::after {
      background: url("../img/sprite.svg#icon-leaf") no-repeat center center;
      width: 26px;
      height: 30px;
    }
  }

  &--icon-powder {
    &::after {
      background: url("../img/sprite.svg#icon-powder") no-repeat center center;
      width: 26px;
      height: 29px;
    }
  }

  &--icon-eat {
    &::after {
      background: url("../img/sprite.svg#icon-eat") no-repeat;
      width: 25px;
      height: 30px;
    }
  }

  &--icon-time {
    &::after {
      background: url("../img/sprite.svg#icon-time") no-repeat center center;
      width: 26px;
      height: 31px;
    }
  }

  &:not(:last-child) {
    margin-bottom: 20px;

    @media (min-width: @desktop-width) {
      margin-bottom: 55px;
    }
  }

  @media (min-width: @tablet-width) {
    margin-bottom: auto;
  }
}

.principle-work__item .description {
  @media (min-width: @tablet-width) {
    margin: 0;
    padding-top: 111px;
    max-width: 245px;
  }
}

.principle-work__number {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    position: absolute;
    top: -40px;
    right: 100px;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 280px;
    line-height: 280px;
    text-align: center;
    color: #f2f2f2;
    z-index: -2;

    &--second {
      right: 80px;
    }

    &--third {
      right: 80px;
    }

    &--fourth {
      right: 80px;
    }
  }

  @media (min-width: @desktop-width) {
    right: 20px;

    &--second {
      right: -10px;
    }

    &--third {
      right: -5px;
    }

    &--fourth {
      right: -10px;
    }
  }
}
