.result {
  background-color: #eaeaea;
  margin-top: 49px;

  @media (min-width: @tablet-width) {
    background: linear-gradient(to bottom, @basic-white 60%, #eaeaea 40%);
    margin-top: 47px;
  }

  @media (min-width: @desktop-width) {
    background: linear-gradient(to top, #eaeaea 70%, @basic-white 30%);
  }
}

.result .title--main {
  padding-top: 25px;
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    padding-top: 43px;
    padding-bottom: 63px;
    border-top: 1px solid #e6e6e6;
  }

  @media (min-width: @desktop-width) {
    border-top: none;
    padding-top: 69px;
    padding-bottom: 146px;
  }
}

.result__description {
  @media (min-width: @tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    width: 433px;
    margin-bottom: 69px;
  }
}

.result__number {
  position: relative;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-align: center;

  @media (min-width: @tablet-width) {
    min-width: 162px;
  }
}

.result__numbers {
  margin-top: 20px;
  margin-bottom: 20px;

  @media (min-width: @mobile-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 20px;
    gap: 20px 32px;
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: 1fr;
    margin-bottom: 99px;
    gap: 20px 42px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 20px;
    gap: 55px 42px;
    margin: 0;
  }
}

.result__total {
  margin-top: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  grid-column: 1 / 3;
  grid-row: 2 / 3;

  @media (min-width: @tablet-width) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: 15px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: auto;
  }
}

.result__total-number {
  text-align: right;

  @media (min-width: @desktop-width) {
    position: absolute;
    left: 260px;
  }
}

.result__number-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: @basic-black;
  margin-top: 14px;
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
}

.result__number-description {
  display: inline-block;
  position: absolute;
  background-color: #eaeaea;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  width: 87px;
  left: 16px;
  bottom: -17px;
  word-spacing: 14px;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
    width: 142px;
    word-spacing: 0;
    bottom: -5px;
    left: 10px;
    background-color: @basic-white;
  }
}

.result__number-description--5kg {
  @media (min-width: @tablet-width) {
    width: 114px;
    left: 23px;
  }
}

.result .wrapper--wide {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.result__slider {
  padding-top: 20px;
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    padding-bottom: 101px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 69px;
    padding-bottom: 0;
  }
}

img.result__slider-before-cat {
  display: block;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 560px;
    height: 512px;
  }
}
