.select-program {
  position: relative;
  min-height: 480px;
  padding: 27px 20px 0;
  background: url("../img/select-background.jpg") no-repeat;
  background-size: 320px 302px;
  background-position: top center;
}

.select-program__title {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
}
//не получается наложить цвет поверх кактинки, как сделать?)
.select-program--wrapper {
  position: absolute;
  content: "";
  width: 320px;
  height: 302px;
  top: 0;
  background-color: rgba(104, 183, 56, 0.85);
}

.select-program__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
