@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-display: swap;
}
body {
  margin: 0;
  height: 100%;
  font-size: 14px;
  line-height: 18px;
  background-color: #ffffff;
  color: #444444;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
a {
  text-decoration: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.title {
  margin: 0;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.title--main {
  font-size: 36px;
  line-height: 40px;
}
.description {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.wrapper,
.wrapper--wide {
  margin: 0 auto;
  width: 280px;
}
@media (min-width: 768px) {
  .wrapper,
  .wrapper--wide {
    width: 708px;
  }
}
@media (min-width: 1440px) {
  .wrapper,
  .wrapper--wide {
    width: 1220px;
  }
}
.button {
  background-color: #68b738;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  border: none;
  color: #ffffff;
}
.main-header {
  padding-top: 10px;
  padding-bottom: 17px;
}
@media (min-width: 768px) {
  .main-header {
    padding: 0;
  }
}
.main-header--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header__logo {
  display: flex;
  min-width: 190px;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .main-header__logo {
    min-width: 174px;
  }
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
@media (min-width: 320px) {
  .main-nav__list {
    display: none;
  }
}
@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
  }
}
.main-nav__list {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  list-style-type: none;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-style: normal;
}
.main-nav__item a {
  color: #000000;
}
.select-program {
  position: relative;
  padding: 27px 20px 0;
  background: url("../img/select-background.jpg") no-repeat;
  background-size: 320px 302px;
  background-position: top center;
}
@media (min-width: 768px) {
  .select-program {
    background: none;
  }
}
.select-program__title {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 768px) {
  .select-program__title {
    color: #000000;
  }
}
.select-program--wrapper {
  position: absolute;
  content: "";
  width: 320px;
  height: 302px;
  top: 0;
  background-color: rgba(104, 183, 56, 0.85);
}
.select-program__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 768px) {
  .select-program__slogan {
    color: #000000;
  }
}
.select-program__button {
  display: block;
  width: 100%;
  padding: 7px;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .select-program__button {
    width: 192px;
    padding: 14px 26px;
    font-size: 20px;
    line-height: 20px;
    box-sizing: content-box;
  }
}
.program-type {
  margin-top: 20px;
  margin-bottom: 20px;
}
.program-type__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) {
  .program-type__list {
    gap: 30px;
  }
}
@media (min-width: 1440px) {
  .program-type__list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
  }
}
.program-type__item {
  background-color: #f2f2f2;
}
@media (min-width: 1440px) {
  .program-type__item {
    width: 570px;
  }
}
.program-type__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}
.program-type__button {
  background-color: transparent;
  color: #000000;
  line-height: 16px;
}
.principle-work .title--main {
  margin-bottom: 40px;
}
.principle-work__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .principle-work__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 37px 153px;
  }
}
@media (min-width: 1440px) {
  .principle-work__list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 37px 94px;
  }
}
.principle-work__item:not(:last-child) {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .principle-work__item:not(:last-child) {
    margin-bottom: auto;
  }
}
.result {
  background-color: #eaeaea;
  margin-top: 50px;
}
@media (min-width: 768px) {
  .result {
    background-color: #ffffff;
  }
}
.result .title--main {
  padding-top: 25px;
  padding-bottom: 40px;
}
@media (min-width: 320px) {
  .result__numbers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 32px;
  }
}
@media (min-width: 768px) {
  .result__numbers {
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: 1fr;
    gap: 20px 32px;
  }
}
.result__total {
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}
@media (min-width: 768px) {
  .result__total {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: 15px;
  }
}
.result__total-number {
  text-align: right;
}
.result__number-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}
.result__number-description {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
}
.contacts__partnership-title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  width: 139px;
}
@media (min-width: 768px) {
  .contacts__partnership-title {
    width: 172px;
  }
}
.contacts__adress {
  line-height: 20px;
  width: 139px;
}
@media (min-width: 768px) {
  .contacts__adress {
    width: 160px;
  }
}
.contacts--wrapper {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;
}
@media (min-width: 768px) {
  .contacts--wrapper {
    padding: 56px 70px;
  }
}
@media (min-width: 1440px) {
  .contacts--wrapper {
    padding: 56px 60px 56px 80px;
  }
}
.main-footer {
  background-color: #f2f2f2;
}
.main-footer--mod {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .main-footer--mod {
    flex-direction: row;
    justify-content: space-between;
  }
}
.main-footer__logo {
  align-self: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
.social {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-self: center;
  gap: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.copyright__text {
  font-size: 16px;
  line-height: 19px;
  color: #444444;
}
.copyright__link {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 40px;
}
.catalog .title--main {
  line-height: 36px;
  margin-bottom: 50px;
}
.catalog__title {
  font-size: 36px;
  line-height: 36px;
}
.catalog__list,
.catalog__item-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .catalog__list {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    gap: 60px;
  }
}
@media (min-width: 1440px) {
  .catalog__list {
    grid-template-columns: repeat(4, 245px);
  }
}
.catalog__item {
  margin-bottom: 19px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 40px;
  gap: 13px 36px;
}
@media (min-width: 768px) {
  .catalog__item {
    display: flex;
    flex-direction: column;
  }
}
.catalog__button {
  display: block;
  width: 100%;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}
@media (min-width: 768px) {
  .catalog__button {
    width: 248px;
  }
}
.catalog__item-img {
  max-width: 168px;
  max-height: 200px;
}
.catalog__name {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}
.catalog__item-line {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.catalog__item-title--mode {
  color: #111111;
}
.catalog__item-description {
  font-size: 12px;
  line-height: 16px;
}
.button--more {
  background-color: #f2f2f2;
  color: #444444;
}
.catalog-extra__title {
  font-size: 24px;
  line-height: 24px;
  padding: 25px 0 36px 20px;
}
.catalog-extra__name {
  font-size: 16px;
  line-height: 16px;
}
.catalog-extra__description {
  line-height: 14px;
}
.catalog-extra__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.catalog-extra__button {
  display: block;
  width: 100%;
}
.catalog-extra__item {
  padding-top: 13px;
  padding-bottom: 19px;
}
@media (min-width: 768px) {
  .catalog-extra__item {
    display: flex;
    flex-wrap: wrap;
  }
}
.present__title {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.present--wrapper {
  background-image: url("../img/present.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  width: 280px;
  min-height: 290px;
  margin: 0;
}
.main-form__title {
  font-size: 36px;
  line-height: 36px;
}
.form__text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
}
.main-form .title--main {
  margin-top: 27px;
  margin-bottom: 37px;
}
.form-selection__text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #444444;
}
.form-selection__text--mod-1 {
  color: #222222;
}
.form-selection__text--mode2 {
  color: #000000;
}
.form-selection__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.form-selection__group-title {
  font-size: 24px;
  line-height: 26px;
}
.form-selection__the-note {
  line-height: 16px;
  color: #000000;
}
/*# sourceMappingURL=style.css.map */
